@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,100italic,300italic");

body.landing #header, body #header {
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,.9);
	background: linear-gradient(to bottom, rgba(0,0,0,.9) 95%, rgba(0,0,0,0));
}

#banner:after {
	background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7)), url("images/overlay.png");;
	background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7)), url("images/overlay.png");;
	background-image: -ms-linear-gradient(top, rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7)), url("images/overlay.png");;
	background-image: linear-gradient(top, rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7)), url("images/overlay.png");;
}

img.headerlogo {
    height: inherit;
	left: 1.25em;
	line-height: inherit;
	margin: 0.5em 0;
	position: absolute;
	top: 0;
	
	height: 2.5em;
}

.wrapper.style2 {
	    background: ##5296e1;
}

body, input, select, textarea {
	font-family: "Montserrat", sans-serif;
}

#header nav ul li a, #header nav ul li span {
	font-weight: 500;
}

.panel {
	border-radius: 10px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	height: 100%;
	padding: 1em;
	padding-top: 2em;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}
